.container {
  max-width: 60%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 100%;
  border: 1px solid #ccc;
  margin: 20px auto;
}

.header {
  margin-bottom: 20px;
}

.searchbar {
  width: 50%;
}

.conditionList {
  width: 50%;
}

.condition {
  text-decoration: none;
  color: blue;
  display: block;
  border-bottom: 1px solid #ccc;
}

.condition h1 {
  margin: 0;
}

.none {
  color: red;
  margin-top: 15px;
}
